section.direction
    .container
        h2.title-2 #[span.title-2__part направления]
        .title-3.text-center.wd-50 Бизнес условно делится на два основных направления:
        .direction-cards
            .row
                .col-md-6
                    .direction-cards-item.boxShadowCard.text-center
                        h4.medium-text  Флирт-общение
                        p.basic-text В видео чате модели запрещено обнажаться, возможен флирт, открытое общение на любую тему, но никакой обнажёнки
                        .direction-cards-item__icon
                            img(src="img/icons/icon2.png", alt="icon")
                .col-md-6
                    .direction-cards-item.boxShadowCard.text-center
                        h4.medium-text  Эротика
                        p.basic-text Каждая модель ведет свое эротическое шоу. Какое это шоу, зависит от правил установленных студией
                        .direction-cards-item__icon
                            img(src="img/icons/icon1.png", alt="icon")
        .info-text.text-center.wd-50
            p.basic-text.text-center На практике большинство студий, стараются не допускать излишней откровенности в работе своих моделей. Они так и указывают на своих сайтах — «эротическое шоу (без порно)»
        
        .row
            .offset-sm-1.col-sm-10.col-lg-6
                .text-blockquote
                    p.basic-text.text-center Специалисты и эксперты данной области предоставляют статистику указывающую на то, что средняя месячная заработная плата у моделей составляет 2-3 тысячи долларов США. 


