footer.footer
    .container
        h2.title-2 #[span.title-2__part контакты]
        .footer-img
            .title-3.wd50.text-center Наши сертификаты
            .row
                .col-sm-4.col-lg-2.offset-lg-3
                    .footer-img__item
                        img(src="img/doc1.png", alt="sertificate")
                .col-sm-4.col-lg-2
                    .footer-img__item
                        img(src="img/doc2.png", alt="sertificate")
                .col-sm-4.col-lg-2
                    .footer-img__item
                        img(src="img/doc3.png", alt="sertificate")
        
        .row
            .col-md-10.offset-md-1.col-lg-8.offset-lg-2
                .footer-slogan
                    .title-3.text-center Мы первая сертифицированная вебкам компания в России и странах СНГ 
        .footer-contacts
            