section.getPayment#payments
    .container
        h2.title-2 #[span.title-2__part вывод средств]
        .title-3.text-center.wd-70 Чтобы обеспечить нашим клиентам максимальный комфорт  и эффективность работы, мы предлагаем несколько способов вывода средств из системы банкинга
        
        .getPayment-types-item
            .row
                .col-sm-2.offset-lg-1
                    .getPayment-type__icon
                        img(src="img/icons/type1.png", alt="вывод средств")
                .col-sm-10.col-lg-6    
                    .getPayment-type__text
                        h4.medium-text  Вывод на любую карту VISA и MasterCard
                        p.basic-text Перевод отправляется в долларах США, автоматически конвертируется в валюту вашей страны по курсу вашего банка. Время обработки вывода в течении 3х рабочих дней. Наша комиссия 5%, минимальная комиссия составляет 15$

                .col-sm-2.offset-lg-3
                    .getPayment-type__icon
                        img(src="img/icons/type2.png", alt="вывод средств")
                .col-sm-10.col-lg-6    
                    .getPayment-type__text
                        h4.medium-text  Вывод  в WebMoney
                        p.basic-text Перевод заработанных средств на WMZ кошелёк в систему электронных расчётов Webmaney.ru. Наша комиссия 3%, минимальная комиссия составляет 5$

                .col-sm-2.offset-lg-1
                    .getPayment-type__icon
                        img(src="img/icons/type3.png", alt="вывод средств")
                .col-sm-10.col-lg-6    
                    .getPayment-type__text
                        h4.medium-text  Вывод в Яндекс деньги
                        p.basic-text Перевод заработанных средств в сервис электронных платежей money.yandex.ru. Наша комиссия 3%, минимальная комиссия составляет 5$

                .col-sm-2.offset-lg-3
                    .getPayment-type__icon
                        img(src="img/icons/type4.png", alt="вывод средств")
                .col-sm-10.col-lg-6    
                    .getPayment-type__text
                        h4.medium-text  Вывод на карту PAXUM 
                        p.basic-text Система электронных платежей, позволяет получить заработанные средства в любом банкомате с помощью пластиковой карты. Подробную информацию по стоимости, открытия и обслуживания карты, вам подскажет ваш личный ведущий специалист

                .col-sm-2.offset-lg-1
                    .getPayment-type__icon
                        img(src="img/icons/type5.png", alt="вывод средств")
                .col-sm-10.col-lg-6    
                    .getPayment-type__text
                        h4.medium-text  Вывод на банковский счёт в долларах 
                        p.basic-text Вывод на банковский счёт в долларах можно осуществить в любой указанный вами банк любой страны мира. Переводы отправляются от юридического лица. Наша комиссия 3%, минимальная комиссия составляет 100$             

                .col-sm-2.offset-lg-3
                    .getPayment-type__icon
                        img(src="img/icons/type6.png", alt="вывод средств")
                .col-sm-10.col-lg-6    
                    .getPayment-type__text
                        h4.medium-text  Услуга срочного зачисления чека 
                        p.basic-text Срочное зачисление чека — возможность получить средства сразу же после закрытия рабочего периода, то есть раньше, чем денежный перевод с рабочего сайта поступит на счёт нашего сервиса. Комиссия за срочное зачисление чека составит 15% от общей суммы   
        .getPayment__button
            a.page-button(href="https://webcamcash.net" target="_blank") Зарегистрироваться              