.header-menu
    .container
        .header-menu-wrapper
            .logo
                img(src="img/logo.png", alt="logo")
            nav.header-navigation
                a(href="#").header-navigation-item О нас
                a(href="#").header-navigation-item Выплаты
                a(href="#").header-navigation-item Средства платежа
                a(href="#").header-navigation-item Как работаем
                a(href="#").header-navigation-item Вопросы
            .header-contact    
                a(href="tel:89886030225").header-contact-phone 8&nbsp;988&nbsp;603-02-25
            #mob-menu-toggle.mob-menu-toggle |||
