header.header
    .container
        .header-title
            h1.title-1 Реализуй #[br] свои&nbsp;мечты
            .header-subtitle Работа на дому для девушек
            a.page-button(href="https://webcamcash.net" target="_blank") Начать
            