section.payments#money
    .container
        h2.title-2 #[span.title-2__part выплаты]
        
        .title-3.text-center Наша компания предлагает вам самые выгодные условия работы, высокий и стабильный доход. Тарифы нашего сервиса для вебкам студий и моделей максимально прозрачны. 
        .title-3.color-white.text-center.wd-70 Полный перечень комиссий на выплаты и зачисления чеков с партнёрских сайтов: 
        .row
            .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                .payments-table
                    img(src="img/payments-table.png", alt="table")