section.questions#questions
    .container
        .row
            .col-lg-6.order-lg-2.col-xl-5.offset-xl-1
                h2.title-2
                    span.title-2__part часто
                    span.title-2__part задаваемые
                    span.title-2__part вопросы 
                .questions-accordion
                    .questions-accordion__item
                        .questions-accordion-toggle
                            .questions-accordion__item-icon
                                i.fas.fa-plus.active
                                i.fas.fa-minus
                        
                            .questions-accordion__item-head Сколько я смогу заработать?
                         
                        .questions-accordion__item-descrip Если у вас хорошее знание английского языка, Вы сможете зарабатывать от 200 до 500$ в день. Если знание Английского языка среднее или ниже, тогда Ваш заработок составит от 150 до 400$ в неделю. Средне статистический доход составляет от 50 до 2000$ в день
                    .questions-accordion__item
                        .questions-accordion-toggle
                            .questions-accordion__item-icon
                                i.fas.fa-plus.active
                                i.fas.fa-minus
                        
                            .questions-accordion__item-head Какой график работы?
                         
                        .questions-accordion__item-descrip График работы выбираете Вы, в нашем сервисе нет установленных часов работы, Вы работаете когда Вам удобно и сколько Вам хочется



                    .questions-accordion__item
                        .questions-accordion-toggle
                            .questions-accordion__item-icon
                                i.fas.fa-plus.active
                                i.fas.fa-minus
                            .questions-accordion__item-head Принимаете ли на работу без опыта?
                        .questions-accordion__item-descrip Да, принимаем моделей без опыта и помогаем пройти обучение в нашей школе 

                    .questions-accordion__item
                        .questions-accordion-toggle
                            .questions-accordion__item-icon
                                i.fas.fa-plus.active
                                i.fas.fa-minus
                            .questions-accordion__item-head Как принять правильное решение?
                        .questions-accordion__item-descrip Попробуйте и вы поймёте, подходит ли Вам модельный бизнес. В 70% случаев, девушки остаются и зарабатывают

                    .questions-accordion__item
                        .questions-accordion-toggle
                            .questions-accordion__item-icon
                                i.fas.fa-plus.active
                                i.fas.fa-minus
                            .questions-accordion__item-head Нужно ли обнажаться?
                        .questions-accordion__item-descrip Обнажаться не обязательно. Главное — Ваше умение понимать своего собеседника и удерживать его внимание. В Вебкам бизнесе нет строгих границ по форме общения или внешности. Категорию и тип общения выбираете Вы. Ваш заработок зависит от Вашей харизмы и умения общаться

                    .questions-accordion__item
                        .questions-accordion-toggle
                            .questions-accordion__item-icon
                                i.fas.fa-plus.active
                                i.fas.fa-minus
                            .questions-accordion__item-head Где гарантии, что я получу оплату?
                        .questions-accordion__item-descrip Мы - одна из первых компаний на рынке в данной сфере. Наш проект существует с 2004 г., нам уже более 13 лет, у нас зарегистрировано более 7 тысяч аккаунтов, сейчас с нами работает более 1000 моделей и студий. Безупречная репутация. За всё время работы не было не одного случая, что мы кому то не выплатили деньги.
                     

            .col-lg-6.order-lg-1

                .questions-info
                    .questions-info__img
                        img(src="img/girl.png", alt="webcam")
                    .questions-info__button
                        .block-title
                            span #[strong Остались]
                            span еще вопросы ?   
                        a.page-button(href="#" data-toggle="modal" data-target="#modal-form") Позвонить мне
