section.description#about
    .container
        
        .row
            .col-lg-7
                h2.title-2
                    span.title-2__part вебкам
                    span.title-2__part.title-2__part--short что это ?
                .descrition-carousel-wrapper
                    .owl-carousel#descrition-slider
                        .slider-item.boxShadowCard
                            h4.slider-item__title.medium-text  Что такое вебкам ?
                            p.slider-item__text.basic-text Это вид бизнеса построенный на общении по видеосвязи (в видео-чате) при помощи Интернета между моделью и клиентом. Общение является основным заработком модели и студии, предоставляющей услуги видео-чата
                            a(href="#!" data-toggle="modal" data-target="#slider1").more-link Подробнее

                        .slider-item.boxShadowCard
                            h4.slider-item__title.medium-text  Кто платит за общение с моделями ?
                            p.slider-item__text.basic-text Это могут быть люди из любой точки планеты, смотритель маяка из Калифорнии, владелец рыболовного судна из Японии, или главный инженер буровой установки из Норвегии.
                            //-  Единственное, что их объединяет - это возможность тратить заработанные деньги на удовольствие своих потребностей. И за приватное общение они готовы платить, причём поминутно
                            a(href="#!" data-toggle="modal" data-target="#slider2").more-link Подробнее

                        .slider-item.boxShadowCard
                            h4.slider-item__title.medium-text  Знакомство с миром Вебкам
                            p.slider-item__text.basic-text Мы живём в мире, где можно дистанционно делать покупки, работать и общаться. И конечно же, в таких условиях многие чувствуют себя одинокими и не могут найти свою вторую половинку или друзей.
                            //-  С повсеместным распространением веб камер, общение между людьми стало гораздо проще и ближе. При этом кто-то готов платить за общение, а кто-то получать деньги за потраченное время. Таким образом, в этом бизнесе есть клиенты, так называемые "спонсоры", и модели - те кому они перечисляют средства
                            a(href="#!" data-toggle="modal" data-target="#slider3").more-link Подробнее

            .col-lg-4.offset-xl-1.col-xl-3
                .description-column
                    .description-column__img
                        img(src="img/slider.png", alt="webcam")
                    .description-column__button
                        a.page-button(href="#!" data-toggle="modal" data-target="#modal-form" target='_blank') Узнать больше



// Modal-1
#slider1.modal.fade(tabindex="-1" role="dialog" aria-labelledby="slider1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content.boxShadowCard                            
            button.close(type="button" data-dismiss="modal" aria-label="Close")
                 span(aria-hidden="true") ×
            .modal-body
                
                h4.slider-item__title.medium-text  Что такое вебкам ?
                p.slider-item__text.basic-text В видео чате клиенты могут флиртовать, общаться, беседовать и проводить время с моделями студии. Несмотря на распространенное публичное мнение о вебкам-бизнесе, этот бизнес не имеет ничего общего с такими услугами как проституция или эскорт-услуги.
                p.slider-item__text.basic-text Ключевой момент этого бизнеса - полная безопасность и конфиденциальность сторон, как клиентов, так и моделей. Модель имеет полное право ограничивать круг лиц в своем видео-чате по различным признакам, включая географическое положение клиента. Отсутствие личного контакта между клиентом и моделью делает подобное общение абсолютно безопасным по всем критерия 
// Modal-2
#slider2.modal.fade(tabindex="-1" role="dialog" aria-labelledby="slider2" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content.boxShadowCard                           
            button.close(type="button" data-dismiss="modal" aria-label="Close")
                 span(aria-hidden="true") ×
            .modal-body
                
                h4.slider-item__title.medium-text  Кто платит за общение с моделями ?
                p.slider-item__text.basic-text Это могут быть люди из любой точки планеты, смотритель маяка из Калифорнии, владелец рыболовного судна из Японии, или главный инженер буровой установки из Норвегии.
                p.slider-item__text.basic-text Единственное, что их объединяет - это возможность тратить заработанные деньги на удовольствие своих потребностей. И за приватное общение они готовы платить, причём поминутно
// Modal-3
#slider3.modal.fade(tabindex="-1" role="dialog" aria-labelledby="slider3" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content.boxShadowCard                           
            button.close(type="button" data-dismiss="modal" aria-label="Close")
                 span(aria-hidden="true") ×
            .modal-body
                
                h4.slider-item__title.medium-text  Знакомство с миром Вебкам
                p.slider-item__text.basic-text Мы живём в мире, где можно дистанционно делать покупки, работать и общаться. И конечно же, в таких условиях многие чувствуют себя одинокими и не могут найти свою вторую половинку или друзей.
                p.slider-item__text.basic-text С повсеместным распространением веб камер, общение между людьми стало гораздо проще и ближе. При этом кто-то готов платить за общение, а кто-то получать деньги за потраченное время. Таким образом, в этом бизнесе есть клиенты, так называемые "спонсоры", и модели - те кому они перечисляют средства 


            