section.how-work#work
    .container
        h2.title-2 #[span.title-2__part как работаем]
        .work-level
        .row
            .col-md-2.offset-md-1.offset-xl-2
                .work-level-item.work-level-item--1
                    .work-level-icon
                        img(src="img/icons/work1.png", alt="как работаем")
                    .work-level-text.medium-text Заявка и&nbsp;консультация
            .col-md-2
                .work-level-item.work-level-item--2
                    .work-level-icon
                        img(src="img/icons/work2.png", alt="как работаем")
                    .work-level-text.medium-text Регистрация в личном кабинете  
            .col-md-2
                .work-level-item.work-level-item--3
                    .work-level-icon
                        img(src="img/icons/work3.png", alt="как работаем")
                    .work-level-text.medium-text Регистрация на рабочих сайтах 
            .col-md-2
                .work-level-item.work-level-item--4
                    .work-level-icon
                        img(src="img/icons/work4.png", alt="как работаем")
                    .work-level-text.medium-text Бесплатное обучение в нашей школе Веб-моделей  
            .col-md-2
                .work-level-item.work-level-item--5
                    .work-level-icon
                        img(src="img/icons/work5.png", alt="как работаем")
                    .work-level-text.medium-text Начало работы и первая прибыль  Веб-моделей 
