section.how-work
    .container
        h2.title-2 #[span.title-2__part как работаем]
        .work-level
        .row
            .col-md-2
                .work-level-item.work-level-item--1
                    .work-level-icon
                        img(src="img/icons/work1.png", alt="как работаем")
                    .work-level-text.medium-text Заявка и&nbsp;консультация
            .col-md-2
                .work-level-item.work-level-item--2
                    .work-level-icon
                        img(src="img/icons/work1.png", alt="как работаем")
                    .work-level-text.medium-text Заявка и&nbsp;консультация 
            .col-md-2.offset-xl-1
                .work-level-item.work-level-item--3
                    .work-level-icon
                        img(src="img/icons/work1.png", alt="как работаем")
                    .work-level-text.medium-text Заявка и&nbsp;консультация 
            .col-md-2.offset-xl-1
                .work-level-item.work-level-item--4
                    .work-level-icon
                        img(src="img/icons/work1.png", alt="как работаем")
                    .work-level-text.medium-text Заявка и&nbsp;консультация 
            .col-md-2
                .work-level-item.work-level-item--5
                    .work-level-icon
                        img(src="img/icons/work1.png", alt="как работаем")
                    .work-level-text.medium-text Заявка и&nbsp;консультация 
