.description .title-2 {
    margin-bottom: 100px;
}

.descrition-carousel-wrapper {
    position: relative;

    .owl-dots {
        position: absolute;
        top: -50px;
        display: flex;
        justify-content: center;
    }

    button.owl-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #b1b4c6;
        margin-right: 35px;
    }

    button.owl-dot:last-child {
        margin-right: 0;
    }

    button.owl-dot.active {
        background-color: #000;
    }

    div.owl-nav {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        justify-content: space-between;

        @media(min-width: 1200px) {
            display: flex;
        }
    }

    .owl-carousel button.owl-next,
    .owl-carousel button.owl-prev {
        display: block;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background: rgb(237, 143, 231);
        background: linear-gradient(90deg, rgba(237, 143, 231, 1) 0%, rgba(185, 164, 251, 1) 100%);
        cursor: pointer;
        transition: .5s;

        &:hover {
            opacity: .4;
        }

        i {
            font-size: 28px;
            color: #fff;
        }
    }
}

.slider-item {
    width: 92%;
}

.slider-item__title {
    margin-bottom: 35px;
}

.slider-item__text {
    margin-bottom: 55px;
}

.more-link {
    color: @pink;

    &:hover {
        color: #ee80c2
    }
}

.description-column {
    position: relative;
    height: 100%;
}

.description-column__img {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

    @media(min-width: 1440px) {
        min-width: 350px;
    }

}

.description-column__button {
    display: flex;
    justify-content: center;

    @media(min-width: 992px) {
        position: absolute;
        bottom: 15%;
    }
}

.modal-body .slider-item__text {
    margin-bottom: 20px;
    line-height: 28px;
}

.boxShadowCard .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    z-index: 200;
}