extends ../layouts/layout.pug

block content
	include ../sections/header-menu.pug
	include ../sections/header.pug
	include ../sections/slider.pug
	include ../sections/direction.pug
	include ../sections/payments.pug



block variables
	-var title = "Webcam";